$content-width: 800px;
$main: #92CDCF;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-color: #445878;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #445878;
$light: #E7EDF4;
$header:  #31353D;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}